/*container{
    display: flex;
    justify-content: center; /* centraliza horizontalmente 
    align-items: center; /* centraliza verticalmente 
    position: absolute;
    top :290%
    
    
}

.projects{
    display: flex;    
    background-color: aqua;
    border-radius: 20px;
    width: 95%;
}
.projects div {
    margin: 10px;

} 
.projects h1{
    text-align: center;
}


.buttos{
    display: flex;
    justify-content: space-around;
}
.title{
    position: absolute;
    bottom: 110%;
}

*/


.container{
   width: 100%;
   margin-top: 100px;
}
.container h1{
    font-size: 2.5cap;
    text-align: center;
}
.projects{
   display: flex;
   height: auto; 
   margin: 30px auto;
   width: 95%;
   border-radius: 25px;
   background-color: #ffffff;
   padding: 20px;
   box-shadow: 10px 5px 20px #0000009a
   
}
.projectText h1{
    margin-bottom: 20px;
}
.projectText p{
    font-size: 1.7cap;
    margin-left: 50px;
}
.buttonContainer {
    display: block; /* Ensures the button container takes full width */
    margin-top: 6%; /* Adds some space above the button */
    margin-left: 5%;
}

.buttonContainer Button {
    float: left; /* Aligns the button to the left */
    margin-right: 3%;
}
.tecnologys{
    float: right;
   
}
.tecnologys img{
    margin-right: 10px;
}
.integrantes {
  margin-bottom: 10px;
}
.integrantes a{
   color: black;
}
.integrantes a:hover{
    color: #002E69;
}
.tecnologys img:hover{
    transition: 0.5s;
    transform: translateY(-10px);
}
.react-icons{
    background-color: #3ebff8;
    transition: 0.5s;
    transform: translateY(-10px);
}