.container{
  display:flex;
  position: fixed;
  padding: 10px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;

}
.container img{
    position: relative;
    left: 10%;
}
.navbar{
    display: flex;
    position: relative;
    left: 50%;
    align-items: center;    
}   
 .navbar a{
    margin: 0 10px;
    text-decoration: none;
    position: relative;
    font-size: 1em;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

.navbar a::after{
    content: "";
    position: absolute;
    border-radius: 20px;
    background-color: #002E69;
    height: 4px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar a:hover::after{
    width: 100%;
}



